body {
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lemonchiffon;
}

footer {
    margin-top: auto;
    margin-bottom: 2vh;
}

.calculator-container {
    margin-top: 20vh;
    width: 260px;
    height: 360px;
    border-radius: 12px;
}

.number-display {
    background-color: #505050;
    color: rgba(255, 255, 255, 0.866);
    text-align: right;
    font-size: 50px;
    padding: 25px 10px 2px 10px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 2px solid black;
}

.button-container {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 2px solid black;
    border-top: 1px;
}

.button-row {
    display: flex; 
    justify-content: space-evenly;
}

button {
    width: 65px;
    height: 55px;
    margin: 0px;
    border: 0.5px solid rgba(0, 0, 0, 0.476);
    background-color: #5050507d;
    color: white;
    font-size: 20px;
}

button:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.51);
}

#btn-zero {
    width: 131px;
    height: 55px;
    border-bottom-left-radius: 10px;
}

#btn-equal {
    border-bottom-right-radius: 10px;
}

.top-row {
    background-color: #505050c6;
}

.right-column {
    background-color: #ff9500;
}


